filename=dummy_transactions.csv (change if your transactions file is different)
db_name=Paste_the_db_name_you_want (default: finance_project)
db_user=sa (change if you configured a different mssql database user)
db_passw=Paste_your_desired_password_here

AFTER CONFIGURING REMOVE THE .EXAMPLE FROM THE NAME AND DELETE THIS ROW AND THE BRACKETS ALONG WITH THE TEXT IT CONTAINS.